# Renomeie este arquivo para ".env" e ajuste os valores conforme o seu PostgreSQL.
#
# Formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO?schema=public
#
# Se estiver usando o docker-compose.yml incluso no projeto, pode usar exatamente esta linha:
DATABASE_URL="postgresql://hospital:hospital123@localhost:5432/hospital_db?schema=public"

PORT=4000
